# Assignment 1

### Question 0: Data Preparation

In [13]:
! pip install pyreadstat

Requirement already satisfied: pyreadstat in d:\anaconda\lib\site-packages (1.2.7)
Requirement already satisfied: pandas>=1.2.0 in d:\anaconda\lib\site-packages (from pyreadstat) (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [14]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import statsmodels.api as sm
import seaborn as sns

In [15]:
df = pd.read_csv("data.csv", sep=';')
df.tail()
df.head()

,Review_ID,Number_Words_Review,ZNumber_Words_Review,Prod_Desig,Prod_Design_positive,Prod_Design_negative,Prod_Technical,Prod_Technical_positive,Prod_Technical_negative,Prod_Price,...,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Age,Sentiment,Rating_Score,Purchase,Number_of_Purchases
0,1,34,"-0,178828858",1,1,0,1,1,0,0,...,0,0,0,1,0,"24,56327497",4,5,1,1
1,2,32,"-0,225796385",1,1,0,1,1,0,1,...,0,0,0,1,0,"38,27120469",5,4,0,0
2,3,54,"0,290846409",1,0,1,1,0,1,1,...,0,1,0,1,0,"46,77239881",2,2,0,0
3,4,20,"-0,507601545",1,1,0,1,1,0,0,...,0,0,0,1,0,"31,66539161",5,5,1,2
4,5,12,"-0,695471652",1,1,0,1,1,0,0,...,0,0,0,1,0,"25,31939178",3,5,0,0

### Convert 'object' columns to 'float'

In [16]:
df['ZNumber_Words_Review'] = df['ZNumber_Words_Review'].astype(str).str.replace(',', '.').astype(float)
df['Age'] = df['Age'].astype(str).str.replace(',', '.').astype(float)
# Check if the conversion was successful
df[['ZNumber_Words_Review', 'Age']].info(), df[['ZNumber_Words_Review', 'Age']].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ZNumber_Words_Review  600 non-null    float64
 1   Age                   600 non-null    float64
dtypes: float64(2)
memory usage: 9.5 KB

(None,
    ZNumber_Words_Review        Age
 0             -0.178829  24.563275
 1             -0.225796  38.271205
 2              0.290846  46.772399
 3             -0.507602  31.665392
 4             -0.695472  25.319392)

### Fix 'Category' column

In [17]:
category_dummies = pd.get_dummies(df['Category'], prefix='Category')
category_dummies = category_dummies.astype(int)
df = df.drop('Category', axis=1)
df = df.join(category_dummies)
df.head()

,Review_ID,Number_Words_Review,ZNumber_Words_Review,Prod_Desig,Prod_Design_positive,Prod_Design_negative,Prod_Technical,Prod_Technical_positive,Prod_Technical_negative,Prod_Price,...,Country,Gender,Age,Sentiment,Rating_Score,Purchase,Number_of_Purchases,Category_0,Category_1,Category_2
0,1,34,-0.178829,1,1,0,1,1,0,0,...,1,0,24.563275,4,5,1,1,1,0,0
1,2,32,-0.225796,1,1,0,1,1,0,1,...,1,0,38.271205,5,4,0,0,1,0,0
2,3,54,0.290846,1,0,1,1,0,1,1,...,1,0,46.772399,2,2,0,0,1,0,0
3,4,20,-0.507602,1,1,0,1,1,0,0,...,1,0,31.665392,5,5,1,2,1,0,0
4,5,12,-0.695472,1,1,0,1,1,0,0,...,1,0,25.319392,3,5,0,0,1,0,0

## Question 1: Linear Regression

Given the nature of the question, a regression model seems appropriate as we are interested in understanding how various factors influence the continuous outcome of rating scores.

In [19]:
target_reg = 'Rating_Score'
X_reg = df.drop(['Review_ID', target_reg], axis=1)
y_reg = df[target_reg]

For this analysis, I will build a linear regression model to predict Rating_Score using the explanatory variables provided. This model will help us understand which factors are significant in explaining the variation in rating scores and the direction of their impact.

In [20]:
X_reg = sm.add_constant(X_reg)
model = sm.OLS(y_reg, X_reg).fit()
predictions = model.predict(X_reg)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:           Rating_Score   R-squared:                       0.706
Model:                            OLS   Adj. R-squared:                  0.696
Method:                 Least Squares   F-statistic:                     69.56
Date:                Wed, 20 Mar 2024   Prob (F-statistic):          2.19e-139
Time:                        11:26:10   Log-Likelihood:                -612.33
No. Observations:                 600   AIC:                             1267.
Df Residuals:                     579   BIC:                             1359.
Df Model:                          20
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                    1.131e+08   7.28e+07      1.554      0.121   -2.99e+07    2.56e+08
Number_Words_Review     -3.623e+06   2.33e+06     -1.554      0.121    -8.2e+06    9.56e+05
ZNumber_Words_Review     1.543e+08   9.93e+07      1.554      0.121   -4.07e+07    3.49e+08
Prod_Desig                 -0.1282      0.123     -1.045      0.296      -0.369       0.113
Prod_Design_positive        0.2586      0.105      2.464      0.014       0.052       0.465
Prod_Design_negative        0.0234      0.091      0.256      0.798      -0.156       0.203
Prod_Technical             -0.8847      0.143     -6.194      0.000      -1.165      -0.604
Prod_Technical_positive     1.3453      0.123     10.929      0.000       1.104       1.587
Prod_Technical_negative    -0.1477      0.095     -1.550      0.122      -0.335       0.039
Prod_Price                  4.4721      2.863      1.562      0.119      -1.152      10.096
Prod_Price_positive        -4.4713      2.865     -1.561      0.119     -10.098       1.155
Prod_Price_negative        -4.3850      2.852     -1.537      0.125      -9.987       1.217
Serv_Delivery               0.8262      0.667      1.238      0.216      -0.484       2.136
Serv_Delivery_positive     -0.8108      0.677     -1.198      0.231      -2.140       0.519
Serv_Delivery_negative     -1.4557      0.679     -2.143      0.033      -2.790      -0.122
Country                    -0.0574      0.064     -0.899      0.369      -0.183       0.068
Gender                     -0.0230      0.057     -0.401      0.688      -0.136       0.090
Age                        -0.0020      0.002     -0.964      0.336      -0.006       0.002
Sentiment                   0.4731      0.034     13.859      0.000       0.406       0.540
Purchase                    0.1175      0.110      1.066      0.287      -0.099       0.334
Number_of_Purchases        -0.0293      0.049     -0.594      0.553      -0.126       0.068
Category_0                3.77e+07   2.43e+07      1.554      0.121   -9.95e+06    8.53e+07
Category_1                3.77e+07   2.43e+07      1.554      0.121   -9.95e+06    8.53e+07
Category_2                3.77e+07   2.43e+07      1.554      0.121   -9.95e+06    8.53e+07
==============================================================================
Omnibus:                       27.996   Durbin-Watson:                   1.917
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               61.203
Skew:                          -0.242   Prob(JB):                     5.13e-14
Kurtosis:                       4.488   Cond. No.                     6.08e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.59e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Results: 
- Sentiment Score: This has a significant positive impact on rating scores. A higher sentiment score is associated with higher rating scores.
- Product Technical Features: Mentioning technical features (both positively and negatively) has a significant effect. In particular, positive mentions of technical features strongly increase rating scores, while the mere mention of technical features (regardless of sentiment) seems to decrease them.
- Service Delivery: Negative mentions of delivery have a significant negative impact on rating scores, whereas positive mentions have a positive impact.

Marketing Implications:

- Focusing on improving customer sentiment about products can lead to higher rating scores. Strategies to enhance positive experiences and minimize negative ones are crucial.
- Emphasizing the technical features of products in marketing and communication strategies seems beneficial, especially highlighting the positive aspects.
- Efficient and satisfactory delivery services can significantly influence customer ratings. Efforts to improve delivery experiences should be prioritized.

## Question 2: Logistic Regression

Create 'Purchase_Occurance'

In [ ]:
# Create a new column 'Purchase_Occurrence' which is 1 if 'Number_of_Purchases' is greater than 0, else 0
df['Purchase_Occurrence'] = (df['Number_of_Purchases'] > 0).astype(int)

# Display the first few rows to confirm the new column
df[['Number_of_Purchases', 'Purchase_Occurrence']].head()

   Number_of_Purchases  Purchase_Occurrence
0                    1                    1
1                    0                    0
2                    0                    0
3                    2                    1
4                    0                    0

In [ ]:
target_log = 'Purchase_Occurrence'
X_log = df.drop(['Review_ID', target_log], axis=1)
y_log = df[target_log]

In [22]:
X_log = sm.add_constant(X_log)
logit_mod = sm.Logit(y_log, X_log)
logit_res = logit_mod.fit()
print(logit_res.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000004
         Iterations: 35
                            Logit Regression Results
===============================================================================
Dep. Variable:     Purchase_Occurrence   No. Observations:                  600
Model:                           Logit   Df Residuals:                      578
Method:                            MLE   Df Model:                           21
Date:                 Wed, 20 Mar 2024   Pseudo R-squ.:                   1.000
Time:                         11:47:24   Log-Likelihood:             -0.0021885
converged:                       False   LL-Null:                       -385.28
Covariance Type:             nonrobust   LLR p-value:                1.574e-149
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -9.9499        nan        nan        nan         nan         nan
Number_Words_Review        -0.2848        nan        nan        nan         nan         nan
ZNumber_Words_Review        9.6949        nan        nan        nan         nan         nan
Prod_Desig                 24.3648   6463.565      0.004      0.997   -1.26e+04    1.27e+04
Prod_Design_positive      -15.9060   4132.968     -0.004      0.997   -8116.375    8084.563
Prod_Design_negative      -12.6713   3411.062     -0.004      0.997   -6698.229    6672.887
Prod_Technical            -15.0466   2779.442     -0.005      0.996   -5462.652    5432.559
Prod_Technical_positive    15.8615   2944.094      0.005      0.996   -5754.456    5786.179
Prod_Technical_negative     2.9852    678.075      0.004      0.996   -1326.018    1331.988
Prod_Price                  3.8267   5.67e+10   6.75e-11      1.000   -1.11e+11    1.11e+11
Prod_Price_positive        -2.7746   5.68e+10  -4.89e-11      1.000   -1.11e+11    1.11e+11
Prod_Price_negative         6.6013   5.67e+10   1.16e-10      1.000   -1.11e+11    1.11e+11
Serv_Delivery              -0.6314        nan        nan        nan         nan         nan
Serv_Delivery_positive      1.7216        nan        nan        nan         nan         nan
Serv_Delivery_negative     -2.3529        nan        nan        nan         nan         nan
Country                    -4.4221   1344.911     -0.003      0.997   -2640.400    2631.556
Gender                     -3.4598   1005.435     -0.003      0.997   -1974.077    1967.157
Age                         0.0757     28.798      0.003      0.998     -56.368      56.519
Sentiment                  -4.7462   1010.234     -0.005      0.996   -1984.769    1975.276
Rating_Score                1.1200    626.036      0.002      0.999   -1225.889    1228.129
Purchase                   -4.9878   2466.666     -0.002      0.998   -4839.564    4829.588
Number_of_Purchases        67.7087   7891.498      0.009      0.993   -1.54e+04    1.55e+04
Category_0                 -3.2827        nan        nan        nan         nan         nan
Category_1                  1.8780        nan        nan        nan         nan         nan
Category_2                 -8.5452        nan        nan        nan         nan         nan
===========================================================================================

Possibly complete quasi-separation: A fraction 1.00 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

d:\Anaconda\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Results:

- Sentiment Score: A significant positive predictor, indicating that higher sentiment scores increase the likelihood of a purchase.
- Product Design: Mentioning design in reviews significantly increases the likelihood of purchase, though the positive and negative aspects of design are not significant predictors.
- Product Technical Features: No significant effect was found, despite the presence of these variables in the model.
- Service Delivery: This variable and its subcategories have problematic estimates (possibly due to collinearity or data issues).
- Category and Country: These demographic factors significantly affect purchase likelihood.

Marketing Implications:

- Enhancing customer sentiment through quality products and services can increase the likelihood of purchase.
- Emphasis on design in marketing and product development could be beneficial, as design mentions in reviews correlate with purchase decisions.
- Attention to demographic factors like country and product category can help tailor marketing strategies effectively.

## Question 3

## Question 4